.task-card-add-button {
    width: 280px;
    height: 380px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 16px;
    background: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-sizing: border-box;
}

.task-card-add-button:hover {
    transform: perspective(600px) rotateX(200deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}