.remove-button{
    position: absolute;
    top: 5px;
    right:5px;
    background-color: transparent;
    border: none;
    color: red;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
}

.sticky-note {
    position: relative; /* Makes the remove button position relative to the note */
  
}